// Variables
// Container, Gutter and Half Gutter
$container-width: 1140;
$full-gutter: 30;
$half-gutter: $full-gutter / 2;

// Media Queries breakpoints
$mobile: 600;
$tablet: 768;
$desktop-tablet: 1024;
$desktop: 1170;
