// Custom class names
// ==================

// Grid custom classes names
$container-fluid: container-fluid; // Main FLUID container
$container: container;             // Main FIXED container
$row: row;                         // Rows
$col: col;                         // Columns
$spacer: jump;                     // Column spaces
